Editor {
    position: absolute;
    bottom: -78px;
    flex-direction: column;
    transition: all 0.1s linear;

    &.opened {
        bottom: 0px;
    }

    Label.openlabel {
        color: white;
        background-color: gray;
        text-align: center;
        border-radius: 8px 8px 0px 0px;
        padding: 4px;
        width: 50px;

        cursor: pointer;
    }

    .blocks {
        background-color: gray;
        color: white;
        justify-content: space-between;
        height: 78px;
        padding: 5px;

        Block {
            &:not(:last-child) {
                margin-right: 5px;
            }

            cursor: pointer;

            height: 68px;
            width: 68px;

            border: 2px transparent solid;

            &.selected {
                border: 2px white solid;
            }

            .name {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            .image {
                width: 64px;
                height: 64px;
            }
        }
    }
}
