Menu {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    // transition: opacity 0.1s linear;

    background-color: rgba(0, 0, 0, 0.5);

    color: black;
    font-family: Poppins;

    &.display {
        pointer-events: all;

        opacity: 1;
    }

    MenuContent {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        max-height: 500px;
        max-width: 800px;

        padding: 20px 60px;
        background-color: rgb(221, 181, 128);

        box-shadow: 4px 4px 2.5px rgba(0, 0, 0, 0.5);

        flex-direction: column;

        > Label {
            text-align: center;
            flex-shrink: 0;

            &.title {
                font-size: 28px;
                padding: 0px 20px 0px 20px;

                margin-bottom: 15px;
                border-bottom: 2px black solid;
            }
        }

        Button.back {
            position: absolute;
            left: 10px;
            top: 20px;

            font-size: 42px;
            font-family: MaterialIcons;
            color: black;
            display: none;

            &.display {
                display: flex;
            }
        }

        .wrapper {
            flex-direction: column;

            &.scroll {
                overflow: scroll;
            }

            .buttons {
                flex-shrink: 0;
                flex-grow: 1;
            }

            .entry {
                padding: 5px 10px;
                margin: 5px;

                flex-grow: 1;
                flex-shrink: 0;

                justify-content: center;

                border: 2px rgb(143, 110, 68) solid;
                background-color: rgb(221, 181, 128);
                box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.5);

                transition: background-color 0.1s linear;

                &:not(.disabled):hover {
                    background-color: rgb(255, 223, 181);

                    cursor: pointer;
                }

                &.disabled {
                    background-color: rgb(161, 127, 82);
                }

                &.delete {
                    flex-grow: 0;

                    &:hover {
                        background-color: rgb(231, 84, 84);
                    }
                }
            }
        }

        &.saving TextEntry {
            padding: 5px 10px;
            margin: 5px;

            border: 2px rgb(143, 110, 68) solid;
            background-color: rgb(221, 181, 128);
            box-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.5);

            &:focus {
                background-color: rgb(255, 223, 181);
            }

            &:not(.has-placeholder) .placeholder {
                display: none;
            }
        }
    }
}
